<div class="container">
  <div class="myBox1">
    <div class="myBox2">
      <h4>
        <%= image_tag("#{current_user.avatar}", height: "70px", width: "70px") %> <%= current_user.nickname %>さんのマイページ <i class="glyphicon glyphicon-book"></i>
      </h4>
      <p><%= link_to "#{@title1}", like_pictures_user_path(current_user.id) %></p>
      <p><%= link_to "ユーザー情報", edit_user_path(current_user.id) %></p>
    </div>
    <div class="row">
      <p class="title text-center"><%= @title2 %></p>
      <div class="myBox3 clearfix">
        <div class="pictures">
          <% @pictures.each do |picture| %>
            <li class="list">
              <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
            </li>
          <% end %>
        </div>
      </div>
      <div class="pagiNation row">
        <div class="page col-md-12">
          <%= paginate(@pictures) %>
        </div>
      </div>
    </div>
  </div>
</div>
