<div class="container">
  <div class="indexHeadBox">
    <table class="table">
      <tr>
        <td class="indexMenBox selected"><%= link_to "Men", ranking_index_path(gender: 1) %></td><td class="indexWomenBox"><%= link_to "Women", ranking_index_path(gender: 2) %></td>
      </tr>
    </table>
  </div>
  <div class="indexMainBox col-md-12">
    <div class="indexBox1">
      <h4><i class="glyphicon glyphicon-comment"></i> レビュー＆コメント数ランキング</h4>
    </div>
    <hr>
    <div class="indexBox2 clearfix">
      <div class="row">
        <ul class="pictures">
            <% if @gender %>
              <% if @gender == 1 %>
              <% @men.each.with_index(1) do |picture, i| %>
              <div class="box__cell w40 align-center">
                <li class="rankPic">
                  <p class="number"><i class="glyphicon glyphicon-king"></i> <%= i %></p>
                  <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
                </li>
              </div>
              <% end %>
              <% else %>
              <% @women.each.with_index(1) do |picture, i| %>
              <div class="box__cell w40 align-center">
                <li class="rankPic">
                  <p class="number"><i class="glyphicon glyphicon-king"></i> <%= i %></p>
                  <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
                </li>
              </div>
              <% end %>
              <% end %>
            <% else %>
            <% @ranking.each.with_index(1) do |picture, i| %>
              <div class="box__cell w40 align-center">
                <li class="rankPic">
                  <p class="number"><i class="glyphicon glyphicon-king"></i> <%= i %></p>
                  <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
                </li>
              </div>
            <% end %>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
