<div class="container">
  <div class="indexHeadBox">
    <table class="table">
      <tr>
        <!-- Menのlinkが押されたら、ルーティングのprefixに_pathをつけたアクションにgender(任意)の値をparamsで送る -->
        <td class="indexMenBox"><%= link_to "Men", pictures_path(gender: 1) %></td><td class="indexWomenBox"><%= link_to "Women", pictures_path(gender: 2) %></td>
      </tr>
    </table>
  </div>
  <div class="indexMainBox col-md-12">
    <div class="indexBox1">
      <h4><i class="glyphicon glyphicon-camera"></i> 新着コーディネート</h4>
    </div>
    <hr>
    <div class="indexBox2 clearfix">
      <div class="row">
        <ul class="pictures">
          <% @pictures.each do |picture| %>
            <li>
              <a href="/pictures/<%= picture.id %>"><%= image_tag("#{picture.image}", height: "200px", width: "150px") %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="pagiNation row">
      <div class="page col-md-12">
        <%= paginate(@pictures) %>
      </div>
    </div>
  </div>
</div>
