<div class="container">
  <div class="showBox1">
    <div class="row">
      <div class="headBox">
        <div class="leftShowBox col-md-6">
          <div class="showBox2">
            <h4><i class="glyphicon glyphicon-bell"></i>コーディネート情報</h4>
          </div>
          <hr>
          <div class="showBox3">
            <%= image_tag("#{@picture.image}", height: "550px", width: "400px", class: "userImage") %>
          </div>
          <% unless @user.id == @picture.user_id %>
            <div class="showBox4">
              <a href="/pictures/<%= @picture.id %>/reviews/new">コメントやアドバイスを贈る</a>
            </div>
          <% end %>
        </div>
        <div class="showBox5 col-md-6">
          <dl>
            <dt>・投稿者名</dt><dd><%= @picture.user.nickname %></dd>
            <dt>・投稿者コメント</dt><dd><%= @picture.comment %></dd>
            <dt>・投稿日時</dt><dd><%= @picture.created_at %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="showBox6 col-md-12">
      <p>みんなからのコメントやアドバイス</p>
    </div>
  </div>
</div>
