<div class="container">
  <div class="showBox1">
    <div class="row">
      <div class="headBox">
        <div class="leftShowBox col-md-6">
          <div class="showBox2">
            <h4><%= notice %></h4>
            <h4><i class="glyphicon glyphicon-picture"></i> コーディネート情報</h4>
          </div>
          <hr>
          <div class="showBox3">
            <%= image_tag("#{@picture.image}", height: "550px", width: "400px", class: "userImage") %>
          </div>
          <% if user_signed_in? %>
            <% if current_user?(@picture.user) %>
              <div class="showBox4">
                <%= link_to "編集する", picture_path(@picture.id), method: :patch %>
                <%= link_to "削除する", picture_path(@picture.id), method: :delete %>
              </div>
            <% else %>
              <div class="showBox4">
              <%= link_to "コメントやアドバイスを贈る", new_picture_review_path(@picture) %>
              </div>
            <% end %>
          <% else %>
            <div class="showBox4">
              <%= link_to "コメントやアドバイスを贈る", new_picture_review_path(@picture) %>
            </div>
          <% end %>
        </div>
        <div class="showBox5 col-md-6">
          <dl>
            <% if current_user.likes.find_by(picture_id: @picture.id) %>
              <dt>いいね！済み</dt>
            <% else %>
              <dt><%= link_to "いいね！", like_path(@picture.id), method: :post %></dt>
            <% end %>
            <dt class="text-danger"><i class="glyphicon glyphicon-user"></i> 投稿者名</dt>
              <dd><%= @picture.user.nickname %></dd>
            <dt class="text-success"><i class="glyphicon glyphicon-th-large"></i> 性別</dt>
              <% if @picture.user.gender == 1 %>
                <dd>男性 <i class="glyphicon glyphicon-sunglasses"></i></dd>
              <% else %>
                <dd>女性 <i class="glyphicon glyphicon-heart-empty"></i></dd>
              <% end %>
              <dt class="text-warning"><i class="glyphicon glyphicon-th-list"></i> ジャンル</dt>
                <dd><%= @picture.genre.name %></dd>
            <dt class="text-info"><i class="glyphicon glyphicon-comment"></i> 投稿者コメント</dt>
              <dd><%= @picture.comment %></dd>
            <dt class="text-muted"><i class="glyphicon glyphicon-paperclip"></i> 投稿日時</dt>
              <dd><%= @picture.created_at.strftime('%Y/%m/%d %H:%M') %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="showBox6">
    <h5 class="text-center text-warning"><i class="glyphicon glyphicon-comment"></i> みんなからのコメントやアドバイス</h5>
    <% @picture.reviews.each do |review| %>
      <ul class="review clearfix">
        <% if current_user.gender == 1 %>
          <li><p class="text-info"><%= review.user.nickname %></p></li>
        <% else %>
          <li><p class="text-danger"><%= review.user.nickname %></p></li>
        <% end %>
        <li class="userReview text-center"><%= review.review %></li>
      </ul>
      <hr>
    <% end %>
  </div>
</div>
