<!-- <!DOCTYPE html>
<html>
<head>
  <title>TechReviewSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   -->
<!DOCTYPE html>
<html class="pc" lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
      <title>Y&I style</title>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </meta>
  </head>

  <body class="yj950-2">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/pictures">Y&I style</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/pictures/new">投稿する</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ジャンル選択 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-music"></i>　おでかけ</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-heart"></i>　デート</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-home"></i>　部屋着</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i>　コスプレ</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-fire"></i>　スポーツ&アクティブ</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-bell"></i>　浴衣、着物</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-adjust"></i>　その他</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/pictures"><i class="glyphicon glyphicon-camera"></i>　オールジャンル</a></li>
                  </ul>
                </li>
                <li><a href="">人気ランキング</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="">マイページ</a></li>
                <li><a href="#">サインアウト</a></li>
                <li class="dropdown">
                <a href="#"></a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>

  <%= yield %>

</body>
</html>
